


















































































.flex-container[data-v-7ba5bd90] {
  display: flex;
  flex-direction: row;
}

.flex-item[data-v-7ba5bd90] {
  flex: auto;
}

